

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

nav .container{
    display: flex;
    margin: 16px 120px;
    justify-content: space-between;
    align-items: center;
    max-width: 1536px;
    max-height: 92px;
    background-color: white;
    padding: 0px 120px 0px 120px;
    margin: 0 auto;
}

nav .container .menu{
    margin: 0 auto;
    display: flex;
    gap: 32px;
    list-style: none;
    align-items: center
}

nav .container .menu a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
}

.btn{
    background-color: #469165;
    padding: 12.5px 16px 12.5px 16px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border: none;
    cursor: pointer;
}

#banner{
    width: 100%;
    height: 674px;
    background-image: url("assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
}

.banner-overlay{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.el-border{
    background-color: white;
    display: inline-block;
    border-radius: 100px;
    border: none;
    padding: 0px 22px 0px 22px;
}

h5{
    font-size: 16px;
    font-weight: 500;
    color: #469165;
}

.headline{
    font-size: 72px;
    font-weight: 700;
    margin-bottom: 24px;
}

.headline .green{
    color: #469165;
}

.headline .white{
    color: white;
}

.description{
    font-size: 18px;
    font-weight: 400;
    color: white;
    line-height: 24px;
    margin-bottom: 32px;
}

.banner-buttons{
    display: flex;
    gap: 16px;
    justify-content: center;
    flex-wrap: wrap;
}

.btn-green{
    background-color: #469165;
    padding: 16.5px 16px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border: none;
    cursor: pointer;
}

.btn-trans{
    background-color: transparent;
    padding: 16.5px 16px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border: 1px solid white;
    cursor: pointer;
}

#structure-problems{
    padding: 80px 40px;
    background-color: white;
}

.structure-container{
    max-width: 1536px;
    margin: 0 auto;
    text-align: center;
}

.structure-title{
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    margin-bottom: 16px;
}

.structure-description{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    line-height: 20px;
    margin-bottom: 44px;
}

.problem-grid{
    display: flex;
    gap: 16px
}

.problem-box{
    background-color: white;
    width: 300px;
    height: 322px;
    padding: 24px;
    border-radius: 8px;
    gap: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
}

.icon-circle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #F95555;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px;
}

.icon-circle img{
    width: 36px;
    height: 36px;
}

.problem-box h3{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 12px;
}

.problem-box p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    line-height: 20px;
    text-align: center;
}

#solution-section{
    padding: 80px 40px;
    background-color: white;
}

.solution-container{
    max-width: 1536px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 60px;
}

.solution-image img{
    width: 600px;
    height: auto;
    border-radius: 12px;
    margin-right: 60px;
    margin: 60px;
}

.solution-text{
    flex: 1;
}

.solution-subtitle{
    font-size: 16px;
    font-weight: 500;
    color: #469165;
    margin-bottom: 16px;
}

.solution-title{
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    margin-bottom: 24px;
}

.solution-description{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    line-height: 24px;
    margin-bottom: 32px;
}

.solution-list{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.solution-item{
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.solution-item p{
    font-size: 16px;
    color: #627382;
    line-height: 24px;
    margin: 0;
}

#cta-section{
    padding: 80px 40px;
    background-color: white;
}

.cta-container{
    max-width: 1536px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 60px;
}

.cta-frame{
    background-color: #F7F6F2;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 12px;
    padding: 80px 40px;
    text-align: center;
}

.cta-subtitle {
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    margin-bottom: 16px;
}

.cta-title {
    font-size: 40px;
    font-weight: 700;
    color: #001931;
    margin-bottom: 24px;
}

.cta-actions{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start
}

.cta-button{
    background-color: #469165;
    padding: 16.5px 16px 16.5px 16px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    box-shadow: 0 10px 20px 0 rgba(46, 204, 113, 0.18);
}

.cta-actions p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;

}
.cta-frame{
    text-align: center;
}
.cta-actions {
    align-items: center;
}

#footer-selection{
    background-color: #001931;
    padding: 60px 40px 40px 40px;
}

.footer-container{
    max-width: 1536px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

.footer-brand{
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.footer-brand img{
    width: auto;
    height: auto;
    display: block;
}

.footer-title{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.footer-social-title{
    font-size: 16px;
    font-weight: 600;
    color: white;
    margin-bottom: 12px;
}

.footer-icons{
    display: flex;
    gap: 12px;
}

.footer-icons i{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid #D9E2EE;
    color: #627382;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.footer-icons i:hover{
    background-color: #469165;
    color: white;
    border-color:#469165;
    cursor: pointer;
}

.footer-bottom{
    text-align: center;
    margin-top: 40px;
    position: relative;
    padding-top: 24px;
    border-top: 0.5px solid #E5E7EB;
}

.footer-bottom p{
    font-size: 14px;
    margin: 0;
    color: white;
}