

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

nav .container{
    display: flex;
    margin: 16px 120px;
    justify-content: space-between;
    align-items: center;
    max-width: 1536px;
    max-height: 92px;
    background-color: white;
    padding: 0px 120px 0px 120px;
    margin: 0 auto;
}

nav .container .menu{
    margin: 0 auto;
    display: flex;
    gap: 32px;
    list-style: none;
    align-items: center
}

nav .container .menu a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
}

.btn{
    background-color: #469165;
    padding: 12.5px 16px 12.5px 16px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border: none;
    cursor: pointer;
}

#banner{
    width: 100%;
    height: 674px;
    background-image: url("assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
}

.banner-overlay{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.el-border{
    background-color: white;
    display: inline-block;
    border-radius: 100px;
    border: none;
    padding: 0px 22px 0px 45px;
}

h5{
    font-size: 16px;
    font-weight: 500;
    color: #469165;
}

.headline{
    font-size: 72px;
    font-weight: 700;
    margin-bottom: 24px;
}

.headline .green{
    color: #469165;
}

.headline .white{
    color: white;
}

.description{
    font-size: 18px;
    font-weight: 400;
    color: white;
    line-height: 24px;
    margin-bottom: 32px;
}

.banner-buttons{
    display: flex;
    gap: 16px;
    justify-content: center;
    flex-wrap: wrap;
}

.btn-green{
    background-color: #469165;
    padding: 16.5px 46px 16.5px 16px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border: none;
    cursor: pointer;
}

.btn-trans{
    background-color: transparent;
    padding: 16.5px 46px 16.5px 16px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border: 1px solid white;
    cursor: pointer;
}
